@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');

:root{
    --tam-titulo: 64px;
    --tam-subtitulo: 40px;
    --tam-texto: 24px;
    --tam-plano: 12px;
    
    --color-principal: red;
    --color-secundario: blue;

    --tipografia: 'Meera Inimai', sans-serif;

}

*{
    margin: 0;
}

html{
    font-size: 16px;
    font-family: var(--tipografia);
    user-select: none;
}

body{
    background-color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*------------------------------------------------- Navbar -----------------------------------------*/

.header{
    position: fixed;
    height: 1.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1rem;
}

.nav{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    height: 1.5rem;
    align-items: center;
}

.menu{
    padding: 0;
    display: flex;
    list-style: none;
}

.menu-item{
    margin-left: 20px;
}

.right{
    display: flex;
    height: 1.5rem;
    align-items: center;
}


/*------------------------------------------------- Wallpaper -----------------------------------------*/
.wallpaper{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/macOS-Big-Sur-Vector.jpg);
    background-position: center;
    background-size: cover;
}


/*------------------------------------------------- Dock -----------------------------------------*/

.dock-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}


.dock{
    display: flex;
}

.dock-icon{
    width: 4rem;
    height: 4rem;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    transform-origin: center bottom;
    z-index: 1;
}

.dock-icon p{
    position: absolute;
    font-size: 10px;
    top: -15px;
    background-color: rgba(231, 231, 231, 0.507);
    display: none;
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
}

.dock-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dock.animated .dock-icon{
    transition: 0.1s;
    transition-property: transform, transform-origin;
}

.min{
    display: none;
}

.estatus{
    display: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

/*------------------------------------------------- Finder -----------------------------------------*/

.barra{
    width: auto;
    height: 35px;
    border-top-right-radius: 20px;
    align-items: flex-end;
    justify-content: space-between;
    color: black;
    display: flex;
}

.buscar{
    padding-right: 20px;
}

.navegar{
    display: flex;
}

.finder{
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.5);
    
}

.division{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.menu-lateral{
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.contenidoVentana{
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botones{
    width: auto;
    height: 35px;
    display: flex;
    align-items:flex-end;
    
    
}

.circulo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    
}

.rojo{
    background-color: red;
    margin-right: 5px;
    margin-left: 20px;
}

.naranja{
    background-color: orange;
    margin-right: 5px;
}

.verde{
    background-color: seagreen;
}

.subtitulo{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(47, 47, 47);

}

.menu-lateral p{
    font-size: 15px;
    color: rgb(20, 20, 20);
    width: max-content;
    margin: 0 0 0 0;
    margin-left: 6px;

}

.elemento{
    display: flex;
    height: 20px;
    align-items: center;
    margin-left: 20px;
}

.azul{
    color: rgb(14, 88, 184);
}

.archivos{
    width: auto;
    height: auto;
    display: grid;
    gap: 2rem;
    grid-auto-rows: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem,1fr));

    margin: 25px 20px 0 20px;
    
}

.archivos p{
    text-align: center;
}

.items-archivos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;

}

/*------------------------------------------------- Safari-----------------------------------------*/

.safari{
    position: absolute;
    top: 10rem;
    left: 3rem;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.5);
}

.barraBusquedaSafari{
    display: flex;
    height: 100%;
    align-items: flex-end;
    
}

.enlaceSafari{
    width: 400px;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    margin-left: 10px;
}

.contenidoSafari{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#iframe-Safari{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
} 